.tropical {
  color: #f7325e;
  font-family:fantasy;
}
.popular {
  color: skyblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1.popular{
  color:yellow;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:center;
}
body {
  background-color:#33FF57;
}